@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font-size-xl: 80px;
    --font-size-l: 48px;
    --font-size-m: 28px;
    --font-size-s: 18px;

    --spacing-m: 32px;
    --spacing-s: 20px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #282525;
    background-color: #f6e7d9;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.display-m {
    font-size: var(--font-size-xl);
    font-weight: 600;
}

.headline-m {
    font-size: var(--font-size-s);
    font-weight: 600;
}

.body-m {
    font-size: var(--font-size-s);
    font-weight: 400;
}

.label-m {
    font-size: var(--font-size-s);
    font-weight: 400;
}

div.header {
    width: 100%;
    height: 100vh;
    position: fixed;
    padding: var(--spacing-m);
}

div.header div.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.header div.page {
    position: absolute;
    left: var(--spacing-m);
    bottom: var(--spacing-m);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.intro div.video {
    position: relative;
    width: 60vw;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    background-color: #ffffff;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.video div.first {
    position: absolute;
    top: -4vh;
    left: -4vw;
}

div.video div.last {
    position: absolute;
    bottom: -4vh;
    right: -4vw;
}

section.teaser div.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--spacing-m);
    display: flex;
    align-items: center;
    gap: 60px;
}

section.teaser div.first {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    transform: translateY(-32px);
}

section.teaser div.last {
    width: 100%;
}

div.image {
    width: 100%;
    aspect-ratio: 4 / 5;
    background-color: #ffffff;
    border-radius: 48px;
}

section.news div.inner {
    width: 1200px;
    display: flex;
    gap: var(--spacing-m);
}

section.news div.inner div {
    width: 100%;
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
