@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e3e3e3;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

nav {
    position: fixed;
    left: 20px;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 6px;
    border-radius: 8px;
}

nav div.group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

nav a {
    display: block;
    width: 200px;
    padding: 6px 8px;
    background-color: #e3e3e3;
    border-radius: 8px;
}

nav a:not(:first-child) {
    padding: 6px 8px 6px 20px;
    background-color: #ffffff;
}

nav a:hover {
    background-color: #c9c9c9;
}

nav a.inner {
    display: none;
}
