@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e3e3e3;
}

h1 {
    font-size: 60px;
    line-height: 1.1;
    margin: 0;
}

p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

section div {
    width: 80%;
    max-width: 800px;
    margin: 0 0 120px 0;
    padding: 18px 0 0 0;
    border-top: 1px solid #000000;
}

section div:first-child {
    border: none;
}

.title {
    float: left;
    width: 200px;
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 8px 0 0 0;
}

.intro {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 300;
    margin: 0;
}

.intro span {
    font-weight: 700;
}
