@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #282525;
    background-color: #e3e3e3;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
}

p {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

nav {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000000;
}

nav a {
    font-size: 28px;
    font-weight: 300;
    width: 100%;
    padding: 20px;
    color: #000000;
    transition: color 0.2s;
}

div.indicator {
    content: '';
    width: 25%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
    z-index: -1;
    transition: height 0.2s 0.1s, transform 0.2s;
}

nav:hover {
    cursor: pointer;
}

nav a:hover {
    color: #ffffff;
}

nav:hover div.indicator {
    height: 100%;
}

div.content {
    width: 100vw;
    display: flex;
    transition: transform 0.4s;
}

div.page {
    width: 100vw;
    background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0));
    flex: none;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

button {
    width: fit-content;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #000000;
    padding: 4px 2px;
}

button:hover {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 32px;
}

section > div {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

section div.intro {
    height: calc(100vh - 200px);
    justify-content: space-between;
}

div.stack {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.span-1 {
    grid-column: span 1;
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.span-4 {
    grid-column: span 4;
}
