@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font-size-l: 80px;
    --font-size-m: 42px;
    --font-size-s: 20px;

    --spacing-l: 60px;
    --spacing-m: 32px;
    --spacing-s: 20px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #282525;
    background-color: #ffffff;
}

.display-m {
    font-size: var(--font-size-l);
    font-weight: 800;
    line-height: 1.1;
}

.headline-m {
    font-size: var(--font-size-m);
    font-weight: 800;
    line-height: 1.1;
}

.body-m {
    font-size: var(--font-size-s);
    font-weight: 400;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
