@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    color: #6c24d2;
}

p {
    font-size: 20px;
    line-height: 1.4;
    color: #1c1b1b;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #6c24d2;
}

button {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 12px 20px;
    padding: 8px 12px;
    color: #f2f2f2;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    transition: border 0.2s;
}       

button:hover {
    border: 2px solid #f2f2f2;
    cursor: pointer;
}

button:focus {
    border: 2px solid #f2f2f2;
    outline: none;
}

div.content {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    background-color: #f2f2f2;
}

div.content div {
    width: 80%;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
