@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 48px;
    margin: 0 0 18px 0;
}

p {
    margin: 0 0 12px 0;
}

div.menu {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

div.content {
    width: 100%;
    padding: 60px 0;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

div.text {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-column: auto / span 1;
    justify-content: center;
}

div.image {
    grid-column: auto / span 1;
    background-color: #c9c9c9;
    aspect-ratio: 4 / 3;
    border-radius: 20px;
}

@media (max-width: 680px) {
    section {
        grid-template-columns: 1fr;
        width: 80%;
    }
}
