@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
}

div.menu {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

div.pagination {
    position: absolute;
    left: 48px;
    bottom: 48px;
    display: flex;
    gap: 8px;
}

div.pagination div {
    width: 12px;
    height: 12px;
    background-color: #c9c9c9;
    border-radius: 8px;
}

div.pagination div.active {
    background-color: #3e3e3e;
}

button {
    position: absolute;
    right: 42px;
    bottom: 42px;
    font-size: 16px;
    padding: 12px 18px;
    background-color: #c9c9c9;
    border-radius: 8px;
    border: none;
    z-index: 10;
    cursor: pointer;
}

button:hover {
    background-color: #3e3e3e;
    color: #ffffff;
}

div.content {
    width: 200vw;
    height: 100vh;
    display: flex;
    transition: transform 0.2s;
}

section {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

div.image {
    width: calc(min(40vw, 40vh));
    height: calc(min(40vw, 40vh));
    background-color: #c9c9c9;
    border-radius: 20px;
}

div.text {
    width: calc(min(40vw, 40vh));
}



@media (max-width: 480px) {
    section {
        flex-direction: column;
    }

    div.image {
        width: 80vw;
        height: 80vw;
    }

    div.text {
        width: 80vw;
    }
}
