@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div.menu {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

div.bar {
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 48px 0 60px;
}

div.tag {
    padding: 16px 42px;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}

div.tagSelected {
    color: #ffffff;
    background-color: #000000;
}

div.content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}

div.item {
    height: 200px;
    flex: 0 0 20%;
    border-radius: 20px;
    transition: box-shadow 0.2s;
}

div.item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

div.hidden {
    display: none;
}

.color1 {
    background-color: #beb2fa;
}

.color2 {
    background-color: #86dad2;
}

.color3 {
    background-color: #afde50;
}
