@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font-size-xl: 60px;
    --font-size-l: 48px;
    --font-size-m: 28px;
    --font-size-s: 18px;

    --spacing-m: 32px;
    --spacing-s: 20px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #282525;
    background-color: #e3e3e3;
}

.headline-m {
    font-size: var(--font-size-m);
    font-weight: 600;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

div.content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section {
    display: flex;
    flex-direction: column;
}

section div {
    padding: var(--spacing-s);
}

div.area {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
}

div.area:hover {
    opacity: 1;
    cursor: pointer;
}

div.area div {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: var(--font-size-l);
    text-align: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
