@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e3e3e3;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 300;
    margin: 0 0 18px 0;
}

p {
    margin: 0;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 100%;
    max-width: 1484px;
    display: flex;
    justify-content: space-between;
    padding: 20px 42px 10vw 42px;
    transform: translateX(-50%);
}

nav div {
    display: flex;
    flex-direction: column;
}

nav p {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 12px 0;
}

nav a {
    margin: 0 0 6px 0;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

nav a:last-child {
    margin: 0;
}

nav div.logo {
    width: 80px;
    height: 80px;
    border: 2px solid #000000;
    border-radius: 40px;
}

section {
    width: 100%;
    max-width: 1400px;
    margin: 0 0 48px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

section.intro {
    margin: 240px 0 48px 0;
}

div.image {
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #c9c9c9;
    border-radius: 20px;
}

div.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10vw 0 0;
}

@media (max-width: 820px) {
    h1 {
        font-size: 42px;
    }

    nav div.inner {
        display: none;
    }

    section {
        grid-template-columns: none;
        gap: 32px;
    }

    div.text {
        padding: 0;
    }
}
