@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #282525;
    background-color: #e3e3e3;
}

h1 {
    margin: 0 0 32px 0;
    font-size: 80px;
    font-weight: 300;
    line-height: 1.1;
}

div.menu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.menu:hover {
    background-color: #c9c9c9;
}

div.menu a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

div.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 60px;
    background-color: #e3e3e3;
}

div.header div.inner {
    padding: 32px 0 12px 0;
    border-bottom: 1px solid #000000;
}

div.logo {
    font-size: 20px;
}

div.intro {
    width: 100%;
    padding: 120px 20% 120px 60px;
}
